*.[145]
*.lo
*.o
*.la
.libs
.deps
Makefile
config.log
autom4te.cache
include/do-not-use-config.*
include/stamp-h*
libtool
aclocal.m4
configure
config.status
hw/dmx/doxygen/doxygen.conf
hw/vfb/Xvfb
hw/xfree86/Xorg
hw/xfree86/Xorg.sh
hw/xfree86/common/xf86Build.h
hw/xfree86/common/xf86DefModeSet.c
hw/xfree86/sdksyms.c
hw/xfree86/sdksyms.dep
hw/xfree86/utils/cvt/cvt
hw/xfree86/utils/gtf/gtf
hw/xfree86/xorg.conf.example
hw/xnest/Xnest
include/dix-config.h
include/version-config.h
include/xkb-config.h
include/xorg-config.h
include/xorg-server.h
include/xwayland-config.h
include/xwin-config.h
test/sdksyms.c
test/simple-xinit
test/tests
xorg-server.pc
xserver.ent
